<div class="window">
	<div>
	    <div class="left_handler_horizontal"></div>
	    <div class="top_handler_vertical"></div>
	    <div class="right_handler_horizontal"></div>
	    <div class="bottom_handler_vertical"></div>
	    <div class="corner_top_left"></div>
	    <div class="corner_top_right"></div>
	    <div class="corner_bottom_left"></div>
	    <div class="corner_bottom_right"></div>
    </div>
	<div class="toolbar">
		<div data-type="title">
		</div>
		<div data-type="buttons">
			<i class="material-icons windows-button" data-type="minimize">
				remove
			</i>
			<i class="material-icons windows-button" data-type="maximize">
				crop_square
			</i>
			<i class="material-icons windows-button" data-type="close">
				close
			</i>
		</div>
	</div>
	<div class="window-content">
	</div>
</div>