button{
	/*border: 1px solid rgb(88, 172, 255);*/
	border: 0;
	min-width: 100px;
	min-height: 35px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(221, 221, 221);
    font: 100% $font-stack;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;
}

button.blue{
    background-color: #63b4fb;
    color: #354859;
}