.full-width{
	width: 100%;
}

.margin-top-20px{
	margin-top: 20px;
}

.margin-bottom-25px{
	margin-bottom: 25px;
}

input[type="text"]{
	border: 1px solid #c5c5c5;
    padding: 5px;
}

input[type="password"]{
	border: 1px solid #c5c5c5;
    padding: 5px;
}

.error{
	margin: 0;
    margin-top: 5px;
    color: red;
}