$font-stack: 'Ubuntu', sans-serif;
$body-background-inactive: black;
$body-background: #e4e4e4;
@import 'normalize.scss'; 
body{
	font: 100% $font-stack;
	background: $body-background-inactive;
	overflow: hidden;
}

body.gui-active{
	background: $body-background !important;
}

body.login-screen{
	background: url('/images/login-screen.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#console{
	color: white;
	font-size: 12px;
}
#beta-notice{
	position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    user-select: none;
    cursor: default;
    color: white;
}

h1, h2, h3, h4, h5{
	margin: 0;
	color: rgb(0, 90, 158);
}

@import 'windows.scss';
@import 'forms.scss';
@import 'buttons.scss';
@import 'spinner.scss';