$default-window-width: 500;
$default-window-height: 500;
$toolbar-height: 30;
.window.active{
	border-left: 1px solid rgb(99,180,251);
	border-right: 1px solid rgb(99,180,251);
	border-bottom: 1px solid rgb(99,180,251);
	z-index: 10;
	.toolbar{
		background-color: rgb(99,180,251);
	}
	[data-type="buttons"]{
		background: transparent;
		cursor: pointer;

		.windows-button {
			padding: 2px;

			&:hover{
				background-color: #dddddd;
			}

			&[data-type="close"]:hover{
				background-color: rgb(199,80,80);
				color: #ffffff;
			}
		}

	}
}
.window{
	user-select: none;
	position: absolute;
	width: $default-window-width*1px; 
	height: $default-window-height*1px; 
	top: 25%; 
	left: 35%; 
	background-color: white;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.6);

	.left_handler_horizontal{
		z-index: 90;
	    width: 3px;
	    height: 100%;
	    padding: 1px 0;
	    cursor: ew-resize;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-left: -4px;	 
	   /*border: 1px solid red;*/
	}
	.right_handler_horizontal{
		z-index: 90;
	    width: 3px;
	    height: 100%;
	    padding: 0px 0;
	    cursor: ew-resize;
	    position: absolute;
	    top: 0;
	    right: -4px;
	    margin-left: 1px;
	    /*border: 1px solid red;*/
	}
	.top_handler_vertical{
		z-index: 90;
	    width: 100%;
	    height: 2px;
	    padding: 0 0px;
	    cursor: n-resize;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-top: -2px;
	    /*border: 1px solid red;*/
	}
	.bottom_handler_vertical{
		z-index: 90;
	    width: 100%;
	    height: 3px;
	    padding: 0 0px;
	    cursor: n-resize;
	    position: absolute;
	    bottom: -4px;
	    left: 0;
	    /*border: 1px solid red;*/
	}
	.corner_top_left{
		z-index: 100;
    	width: 1%;
	    height: 1%;
	    min-width: 10px;
	    min-height: 10px;
	    max-width: 20px;
	    max-height:20px;
	    padding: 0 0px;
	    cursor: nw-resize;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-top: -2px;
	    /*border: 1px solid red;*/
	    margin-left: -4px;
	}
	.corner_top_right{
		z-index: 100;
    	width: 1%;
	    height: 1%;
	    min-width: 10px;
	    min-height: 10px;
	    max-width: 20px;
	    max-height:20px;
	    padding: 0 0px;
	    cursor: ne-resize;
	    position: absolute;
	    top: 0;
	    right: -4px;
	    margin-top: -2px;
	    /*border: 1px solid red;*/
	}
	.corner_bottom_left{
		z-index: 100;
	    width: 1%;
	    height: 1%;
	    min-width: 10px;
	    min-height: 10px;
	    max-width: 20px;
	    max-height:20px;
	    padding: 0 0px;
	    cursor: ne-resize;
	    position: absolute;
	    bottom: -4px;
	    left: 0;
	    margin-left: -4px;
	    /*border: 1px solid red;*/
	}
	.corner_bottom_right{
		z-index: 100;
	    width: 1%;
	    height: 1%;
	    min-width: 10px;
	    min-height: 10px;
	    max-width: 20px;
	    max-height:20px;
	    padding: 0 0px;
	    cursor: nw-resize;
	    position: absolute;
	    bottom: -4px;
	    right: -4px;
	    /*border: 1px solid red;*/
	}

	.toolbar{
		background-color: #dddddd;
		height: calc(#{$toolbar-height}*1px);
		text-align: center;
	}

	[data-type="title"]{
		user-select: none;
    	cursor: default;		
    	margin-top: 5px;
		margin-left: 7px;
		color: rgb(53,72,89);
		float: left;
	}
	[data-type="buttons"]{
		float: right;
	}

	.window-content{
		width: 100%;
    	height: calc(100% - #{$toolbar-height}px);
   	 	overflow-x: auto;
    	overflow-y: auto;
	}
}

/* Para el interior de los diálogos, cuando se quiere que dispongan de padding */
.dialog-padding{
	padding: 20px;
}

.right-button-wrapper{
	position: absolute;
	bottom: 20px;
	right: 10px;
}